@import "../../assets/styles/mixins/index.scss";
@import "../../assets/styles/colors";
.project {
  @include center;
  @include responsive;
  padding: 1rem 0rem;
  gap: 2rem;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.containerRight {
  .a {
    position: relative;
    text-decoration: none;

    &:hover {
      p {
        visibility: visible;
      }
      img {
        scale: (1.05);
        box-shadow: 12px 14px 15px 3px rgba(0, 0, 0, 0.3);
      }
    }

    img {
      border-radius: 20px;
      box-shadow: 8px 10px 12px 3px rgba(0, 0, 0, 0.2);
      max-width: 100%;
      width: auto;
      height: auto;
      transition:
        scale 0.2s,
        box-shadow 0.2s;
    }
  }
}
.tagContainer {
  display: flex;
  flex-wrap: wrap;
}
