@import "../../assets/styles/colors";
@font-face {
    font-family: "Mulish Bold";
    src: url("../../fonts/Mulish/static/Mulish-Bold.ttf") format("truetype");
}

.listElement {
    display: flex;
    align-items: center;
    font-family: "Mulish Bold";
    padding: 0.5rem;
    a {
        align-items: center;
        text-decoration: none;
        color: $lightColor;
        padding: 0 2rem;
        text-align: center;
        position: relative;
        .decorationLine {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
            height: 6px;
            width: 100%;
            background-color: $primaryColor;
            margin-top: -3px;
            transition: height 0.2s;
        }

        &:hover {
            .decorationLine {
                height: 24px;
            }
        }
    }
}
