@import "../../assets/styles/colors";

.heading {
  h4 {
    color: $grayColor;
    font-family: $font-mulish;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    margin: 0;
  }
}
