@import "../../assets/styles/mixins/index.scss";
@import "../../assets/styles/colors";
.heroArea {
    @include center;
    @include responsive;
    background: $primaryColor;
    background: linear-gradient(90deg, $primaryColor 0%, $secondaryColor 100%);
    padding: 6rem 3.5rem;
    @media (min-width: 765px) {
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 9rem 3.5rem;
    }
    .containerRight {
        display: none;
        @media (min-width: 765px) {
            display: block;
            width: 50%;
            height: 500px;
            position: relative;
        }
    }
}
