@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin responsive {
    padding: 3rem 0rem;
    flex-wrap: wrap;
    @media (min-width: 765px) {
        flex-wrap: nowrap;
        padding: 3rem 3.5rem;
    }

    .containerLeft {
        width: 100%;
        padding: 1rem;
        @media (min-width: 765px) {
            width: 50%;
            padding: 1rem 2rem;
        }
    }
    .containerRight {
        width: 100%;
        padding: 1rem;
        @media (min-width: 765px) {
            display: block;
            width: 50%;
            height: 100%;
            position: relative;
            padding: 1rem 2rem;
        }
    }
}
