@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bgGradient {
  background: $primaryColor;
  background: linear-gradient(90deg, $primaryColor 0%, $secondaryColor 100%);
}

@mixin responsive {
  flex-wrap: wrap;
  @media (min-width: 765px) {
    flex-wrap: nowrap;
  }

  .containerLeft {
    width: 100%;

    @media (min-width: 765px) {
      width: 50%;
    }
  }
  .containerRight {
    width: 100%;

    @media (min-width: 765px) {
      display: block;
      width: 50%;
      height: 100%;
      position: relative;
    }
  }
}

