@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin bgGradient {
  background: $primaryColor;
  background: linear-gradient(90deg, $primaryColor 0%, $secondaryColor 100%);
}

@mixin responsive {
  flex-wrap: wrap;
  @media (min-width: 765px) {
    flex-wrap: nowrap;
  }

  .containerLeft {
    width: 100%;

    @media (min-width: 765px) {
      width: 50%;
    }
  }
  .containerRight {
    width: 100%;

    @media (min-width: 765px) {
      display: block;
      width: 50%;
      height: 100%;
      position: relative;
    }
  }
}

.animateTextIn {
  position: absolute;
  bottom: 23%;
  right: -100%;
  animation-name: moveXIn;
  animation-duration: 45s;
  z-index: -1000;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  @keyframes moveXIn {
    0% {
      transform: translate3d(0%, 0, 0);
    }
    100% {
      transform: translate3d(-103%, 0, 0);
    }
  }
}
