@import "../../assets/styles/colors";
@font-face {
    font-family: "mulish";
    src: url("../../fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}

.paragraph {
    font-family: "mulish", "Roboto";
    color: $lightColor;
    font-size: 24px;
    padding: 0.5rem 0;
    white-space: pre-line;
    &.color {
        &-dark {
            color: $darkColor;
        }
        &-light {
            color: $lightColor;
        }
    }
}
