@import "../../assets/styles/colors";
@font-face {
  font-family: "mulish";
  src: url("../../fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}

.paragraph {
  font-family: "mulish", "Roboto";
  color: $lightColor;
  font-size: $fontSizeSm;
  padding: 0.5rem 0;
  white-space: pre-line;
  @media (min-width: 768px) {
    font-size: $fontSizeMd;
  }
  @media (min-width: 1280px) {
    font-size: $fontSizeMd;
  }

  @media (min-width: 1536px) {
    font-size: $fontSizeLg;
  }

  &.color {
    &-dark {
      color: $darkColor;
    }
    &-light {
      color: $lightColor;
    }
  }
}
