@import "@/assets/styles/colors";
@import "@/assets/styles/mixins/index.scss";
@keyframes smoothAppear {
  from {
    opacity: 0;
    transform: translateX(50%) scale(0.95);
  }
  to {
    opacity: 1;
     transform: translateX(0) scale(1);
  }
}

@keyframes smoothDisappear {
  from {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
  to {
    opacity: 0;
     transform: translateX(50%) scale(0.95);
  }
}

.list {
  position: fixed;
  top: 42px;
  @include bgGradient;
  opacity: 0;
  height: 80%;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 0;
  list-style-type: none;
  @media (min-width: 765px) {
    display: none;
    visibility: hidden;
  }
}

.visible {
  z-index: 20;
  display: grid;
  visibility: visible;
  opacity: 1;
  animation: smoothAppear 0.5s ease-out forwards;
}
