@import "../../assets/styles/mixins/index.scss";
@import "../../assets/styles/colors";

.page {
  @include responsive;
  margin-top: 7rem;
}
.subtitle {
  font-family: "mulish", "Roboto";
  font-size: 24px;
  padding: 0;
  white-space: pre-line;
}

.box {
  box-shadow: 0.5rem 0.5rem $darkColor;
  border: 3px solid $darkColor;
  color: $darkColor;
  background-color: $lightColor;
  padding: 1rem;
  margin: 0.5rem;
  h1{
    font-family: "AbrilFatface", "Roboto";
    color: $darkColor;
    letter-spacing: 3px;
    font-size: 36px;
    padding: 1rem 0;
    margin: 0;
  }
  h2{
    font-family:"mulish", "Roboto";
    color: $darkColor;
    padding: 1rem 0;
    font-size:32px;

    margin: 0;
  }
  h3{
    font-family:"mulish", "Roboto";
    color: $darkColor;

    font-size:24px;

    margin: 0;
  }
  p{
    font-family: "mulish", "Roboto";
    color: $darkColor;
    font-size: 16px;

    white-space: pre-line;
    @media (min-width: 765px) {
      font-size: 18px;
    }
  }
}

.gridContainer {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}
