@import "../../assets/styles/mixins/index.scss";
@import "../../assets/styles/colors";

.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  margin: 0 0.5rem;
  @media (min-width: 640px) {
    max-width: 540px;
    margin: auto;
  }
  @media (min-width: 768px) {
    max-width: 668px;
  }

  @media (min-width: 1024px) {
    max-width: 924px;
  }
  @media (min-width: 1280px) {
    max-width: 1180px;
  }

  @media (min-width: 1536px) {
    max-width: 1436px;
  }
}
.fixedBox {
  @include responsive;

  @include center;
}

// -----

.heroArea {
  @include bgGradient;
  padding-top: 8rem;
  height: 50vh;
  margin-bottom: 6rem;
  @media (min-width: 765px) {
    height: 100vh;
    margin-bottom: 6rem;
    padding-top: 12rem;
  }

  .containerRight {
    display: none;
    @media (min-width: 765px) {
      display: block;
      width: 50%;
      height: 500px;
      position: relative;
    }
  }
}

.page {
  @include responsive;
  padding-top: 4rem;
  padding-bottom: 2rem;
  @media (min-width: 765px) {
    padding-top: 8rem;
  }
}

.subtitle {
  font-family: "mulish", "Roboto";
  font-size: 24px;
  white-space: pre-line;
}

.box {
  box-shadow: 0.5rem 0.5rem $darkColor;
  border: 3px solid $darkColor;
  color: $darkColor;
  background-color: $lightColor;
  padding: 1rem;
  margin: 0.5rem;
  h1 {
    font-family: "AbrilFatface", "Roboto";
    color: $darkColor;
    letter-spacing: 3px;
    font-size: $fontSizeL;
    @media (min-width: 765px) {
      font-size: $fontSizeXXl;
    }
  }
  h2 {
    font-family: "mulish", "Roboto";
    color: $darkColor;
    font-size: $fontSizeXl;
    @media (min-width: 765px) {
      font-size: $fontSizeL;
    }
  }
  h3 {
    font-family: "mulish", "Roboto";
    color: $darkColor;

    font-size: $fontSizeLg;
    @media (min-width: 765px) {
      font-size: $fontSizeXl;
    }
    margin: 0;
  }

  p {
    font-family: "mulish", "Roboto";
    color: $darkColor;
    white-space: pre-line;

    font-size: $fontSizeXS;
    @media (min-width: 765px) {
      font-size: $fontSizeMd;
    }
  }
}

.gridContainer {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  @media (min-width: 765px) {
    margin-top: 4rem;
    grid-template-columns: 1fr 2fr;
  }
}

.list {
  display: none;
  @media (min-width: 765px) {
    display: flex;
    flex: auto;
    justify-content: flex-end;
    list-style-type: none;
  }
}
.iconAsBackground {
  position: relative;
  svg {
    position: absolute;
    margin: auto;
    z-index: -10;
    opacity: 0.2;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
