@font-face {
  font-family: "mulish";
  src: url("../../fonts/Mulish/Mulish-VariableFont_wght.ttf") format("truetype");
}

.title {
  p {
    font-family: "mulish", "roboto";
    font-size: 26px;
    line-height: 130%;
    font-weight: 700;
  }
}
