@import "../../assets/styles/colors";

.header {
  font-family: $font-abril-fatface;
  color: $lightColor;
  letter-spacing: 3px;

  padding: 1rem 0;
  margin: 0;

  font-size: $fontSizeXl;

  @media (min-width: 1280px) {
    font-size: $fontSizeXXl;
  }

  @media (min-width: 1536px) {
    font-size: $fontSizeXXl;
  }

  &.color {
    &-dark {
      color: $darkColor;
    }
    &-light {
      color: $lightColor;
    }
  }
}
